[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
plotly = "*"
pyarrow = "==8.0.0"
pandas = "*"
pandas-gbq = "==0.17.9"
google = "*"

[dev-packages]

[requires]
python_version = "3.9.13"
